/* src/components/Hero.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust based on your hero section height */
    overflow: hidden;
}
  

  
.hero-content {
    position:relative;
    color: white; /* Adjust text color as needed */
}

